.breadcrumb__link {
    color: var( --link__color);

    &:hover {
        color: var(--link__hover__color);
    }

    &:visited {
        color: var(--link__visited__color);
    }

    &:active {
        color: var(--link__active__color);
    }
}

.breadcrumb {
    display: flex;
}
