.footer {
    background-color: var(--secondary__color);
    color: var(--text__color__invert);
}

.footer__categories {
    background-color: var(--primary__color);
}

.footer__copyright {
    background-color: var(--color-black);
}